name: Coverage
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install pytest
        run: pip install pytest

      - name: Run linter
        uses: astral-sh/ruff-action@v3
        with:
          src: "./gendiff"

      - name: Run pytest
        run: make test
