name: Coverage
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarqube:
    name: SonarQube Cloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7
        with:
          args: >
            -Dproject.settings=sonar-project.properties
            -Dsonar.python.coverage.reportPaths=./coverage.xml
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}